* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --translate: 0px;
}

.gallery {
    margin: 20px auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.gallery__thumbs {
    transform: translate(var(--translate), 0);
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    transition: transform 2s ease;
}

.gallery__thumbs li {
    min-width: 25%;
    text-align: center;
}
.arrow_right,
.arrow_left {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40px;
    z-index: 2;
}
.arrow_right::after,
.arrow_left::after {
    content: '>';
    display: block;
    width: 100%;
    height: 100%;
    font-size: 45px;
    color: #ccc;
    line-height: 50px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    transform: scaleY(1.8);
    top: 0;
    right: 0;
}
.arrow_left::after {
    transform: rotate(180deg) scaleY(1.8);
}
.arrow_right {
    right: 0;
}
.arrow_left {
    left: 0;
}
.gallery__preview {
    position: relative;
}
.hide {
    display: none;
}
.gallery__preview_close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ccc;
    text-align: center;
    border-radius: 50%;
    font-size: 45px;
    line-height: 25px;
    transform: rotate(45deg);
}
.gallery__preview_close:focus {
    outline: 1px dotted #ccc;
}
