.root {
    --bg-image: url("source/cat1.png");
    --bg-poo: url('');
    --hungry: 10%;
    --energy: 100%;
    --wc: 0%;

}

.cat {
    width: 150px;
    height: 150px;
    background: var(--bg-image) center/80% auto no-repeat;
    position: relative;
}
.cat__info {
    position: absolute;
    top: 0;
    font-family: 'VT323', monospace;
    color: red;
    right: -200px;
}
.cat_poo {
    width: 50px;
    height: 150px;
    position: absolute;
    right: -40px;
    bottom: 10px;
    background: var(--bg-poo) bottom/100% auto no-repeat;
}
.indicators div{
    height: 30px;
    width: 250px;
    position: relative;
    background-color: grey;
    margin: 10px 0;
}
.energy::before,
.hungry::before,
.wc::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
}
.energy::before {
    background-color: yellowgreen;
    width: var(--energy);
}
.hungry::before {
    background-color: salmon;
    width: var(--hungry);
}
.wc::before {
    background-color: rgb(130, 112, 90);
    width: var(--wc);
}
.energy::after,
.hungry::after,
.wc::after {
    content: '';
    height: 100%;
    width: 30px;
    display: block;
    position: absolute;
    right: -35px;
} 
.energy::after {
    background: url('source/energy.png') center/50% auto no-repeat;
}
.hungry::after {
    background: url('source/hungry.png') center/65% auto no-repeat;
}
.wc::after {
    background: url('source/catPoo1.png') bottom/90% auto no-repeat;
}
.btn {
    background-color: transparent;
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
}
.btn:hover {
    filter: drop-shadow(0px 0px 5px #ccc);
}
.btn.eat {
    background-color: salmon;
}
.btn.sleep {
    background-color: yellowgreen;
}
.btn.clean {
    background-color: rgb(181, 181, 252);
}
.btn.eat:disabled,
.btn.clean:disabled,
.btn.sleep:disabled {
    background-color: #ccc;
}