* {
    margin: 0;
    padding: 0;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
}
button:focus {
    outline: 1px dotted grey;
}
.wrapper {
    height: 85vh;
    padding: 20px;
}
.todo-list {
    display: flex;
    flex-direction: column;
}
.todo-list h3 {
    text-align: center;
    margin-bottom: 30px;
}
.message {
    display: block;
    text-align: center;
    margin: 20px 0;
}
.todo-list .btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.todo-list__items {
}
.todo-item {
    width: 75%;
    margin: 10px auto;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.todo-item:nth-child(odd) {
    background-color: #ccc;
}
.text {
}
.text.line-through {
    text-decoration: line-through;
}
.id {
}
.checkbox {
}
.btn {
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
}
.add-todo-item {
    background-color: rgb(211, 236, 162);
}
.delete-completed-items {
    background-color: rgb(232, 154, 154);
}
.clear-list {
    background-color: rgb(197, 197, 247);
}

.modal {
    display: none;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
.modal-ok {
    width: 150px;
    background-color: rgb(211, 236, 162);
    border-radius: 0 10px 10px 0;
}
.modal input {
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    outline: none;
}
.modal.active {
    display: flex;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ccc;
    height: 70px;
}