.portfolio {
    width: 90%;
    max-width: 800px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.portfolio__filter {
    display: flex;
    list-style: none;
}
.portfolio__filter li {
    background-color: #FFF;
    display: block;
    padding: 10px;
    margin: 0 20px 10px 0;
    cursor: pointer;
}
.portfolio__filter li.active {
    background-color: #aaa;
    color: #FFF;
}
.portfolio__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.portfolio__list li {
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    align-items: center;
}
.portfolio__list li.hide {
    display: none;
}
.portfolio__list li img {
    width: 100%;
}
.portfolio__list li span {
    font-size: 14px;
    text-align: left;
}
.portfolio__list li h3 {
    font-size: 16px;
    text-align: left;
}
@media (max-width: 768px) {
    .portfolio,
    .portfolio__list li h3,
    .portfolio__list li span {
        font-size: 14px;
    }
}
@media (max-width: 520px) {
    .portfolio {
        width: 100%;
    }
    .portfolio__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio__filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .portfolio__filter li {
        margin: 0 0 10px 0;
    }
}
@media (max-width: 375px) {
    
    .portfolio__list {
        grid-template-columns: 1fr;
    }
    .portfolio__filter {
        flex-wrap: wrap;
    }
    .portfolio__filter li {
        width: 100%;
        text-align: center;
    }
    .portfolio__list li {
        grid-template-rows: 4fr 0.5fr 0.5fr;

    }
}